@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to left, #EE9292, #D68C78);
}

.imagem-coracao {
    position: absolute;
    width: 150px;
    left: 130px;
    top: 100px;
    transform: rotate(-25deg);
    
}

.imagem-emoji {
    position: absolute;
    width: 150px;
    left: 1415px;
    top: 720px;
}

.imagem-raposa {
    position: absolute;
    width: 240px;
    left: 8%;
    top: 570px;
    transform: rotate(10deg);
}


.imagem-panda {
    position: absolute;
    left: 1575px;
    top: 125px;
    transform: rotate(-13deg);
    
}

.fundo-coracoes {
    position: absolute;
    height: 100%;
    width: 99%;
    
}

/* #f0d0c2, #eec5b3*/

main {
    position: relative;
    background-color: #ffd8d8; /*ecbaba   ffd8d8*/
    box-shadow: 5px 5px 15px #000000a8;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 850px;
    
}

h1 {
    font-size: 2.9em;
    color: #26599c; /*5A85A1*/
    text-align: center;
    text-shadow: 1px 1px 1px #142f52a1;
}

h2 {
    font-size: 1.9em;
    color: #26599c;
    margin-left: 15px;
}

p {
    font-size: 1.30em;
    text-align: justify;
    margin-left: 10px;
}

:link {
    color: #26599c;
    font-size: 1.5em;
}