body {
    background-color: rgb(20, 20, 20);
    margin: auto;
    text-align: center;
    display: block;
}

h2 {
    color: white;
}

.video-screen {
    width: 450px;
    box-shadow: 5px 5px 15px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}